* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100%;
}

#header {
  background-color: #353545;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

#header h1 {
  font-size: 35px;
  color: #F7F7F7;
}

.green-button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #F7F7F7;
  background-color: #1EA153;
  opacity: 0.9;
  transition: all .2s;
}

.green-button:hover {
  opacity: 1;
}

#main {
  background-color: #E5E5E5;
  margin: 50px 10vw 50px 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #666;
  min-height: 70vh;
}

.book {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #F7F7F7;
  max-width: 320px;
  max-height: 175px;
  box-shadow: 3px 3px 5px #666;
}

.not-read {
  background-color: #353545;
}

.read {
  background-color: #1EA153;
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.toggle {
  width: 30px;
  cursor: pointer;
}

.delete {
  width: 25px;
  cursor: pointer;
  transition: all .2s;
}

.delete:hover {
  transform: rotate(15deg);
}

.book-header .status {
  font-size: 16px;
  color: #E2E2E2;
}

.book-main {
  align-self: center;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-main h2 {
  font-size: 25px;
}

.book-main p {
  font-size: 18px;
  color: #E2E2E2;
}

.book-footer {
  align-self: flex-start;
}

.book-footer p {
  font-size: 16px;
  color: #E2E2E2;
}

#form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(35, 35, 45, .9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  transition: all .2s;
  width: 50px;
}

#form .close:hover {
  transform: scale(1.1);
}

#form label {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 25px;
  margin: 10px 0;
  text-indent: 20px;
}

#form input {
  margin-top: 5px;
  padding: 20px 10px;
  width: 30vw;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0);
}

#form input:focus {
  border-color: #1EA153;
}

#form #read {
  padding: 0;
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

#form label[for='read'] {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-indent: 0;
}

#form #submit-button {
  font-size: 30px;
}